<div class="card" style="width: 18rem;">
  <img src="{{ curso.imagen }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ curso.titulo }}</h5>
    <p class="card-text">{{ curso.descripcion }}</p>
    <a class="card-link" (click)="descargarFormatoInscripcion()">Inscribirse</a>
    <!-- <a [routerLink]="['/inicioSesion']" class="card-link" (click)="descargarPDF()">Inscribirse</a> -->
    <!-- Al dar click en inscribirse angular debera validar si el usuario ha iniciado sesion o no
            si no ha inicia sesion debera aparecer un mensaje de inicio de sesion, si ya inicio sesion
            debera seguir con el proceso de inscripcion.-->
    <a (click)="descargarTemario()" class="card-link">Temario</a>
    <div *ngIf="inscripcion" class="subir-archivo">
      <label for="exampleFormControlFile">Subir comprobante de pago:</label>
      <input type="file" class="form-control-file" id="exampleFormControlFile">
      <button class="btn btn-primary">Enviar comprobante</button>
    </div>
  </div>
</div>